In [4]:
import pandas as pd

df = pd.read_csv('C:\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin -1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [11]:
#What is the total number of unique countries in the dataset?

df.Area.nunique()

49

In [10]:
#highest stock variation

element = df.groupby('Element')
element.get_group('Stock Variation').sum()

#year2014 had the highest stock variation

Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Element         Stock VariationStock VariationStock VariationS...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
dtype: object

In [ ]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [12]:
#What is the total sum of Wine produced in 2015 and 2018 respectively?
item = df.groupby('Item')
item.get_group('Wine').sum()

Area Code                                                   66206
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 1319535
Item            WineWineWineWineWineWineWineWineWineWineWineWi...
Element Code                                              1818328
Element         ProductionImport QuantityStock VariationExport...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                     4497.36
Y2015                                                     4251.81
Y2016                                                     3872.09
Y2017                                                     4178.02
Y2018                                                     4039.32
dtype: object

In [15]:
#What is the total Protein supply quantity in Madagascar in 2015?

SyntaxError: invalid syntax (3439700118.py, line 1)

In [16]:
newElement = df.groupby('Element')
newElement.get_group('Processing').sum()

Area Code                                                  271940
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 5350416
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             10313310
Element         ProcessingProcessingProcessingProcessingProces...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    282923.0
Y2015                                                    287929.0
Y2016                                                    280631.0
Y2017                                                    292836.0
Y2018                                                    308429.0
dtype: object

In [17]:
df.Y2017.describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [ ]:
#Which year had the least correlation with â€˜Element Codeâ€™?

In [21]:
df.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [26]:
countries = df.groupby('Area')['Y2017'].sum()
countries.max()

1483268.23